
# logs
*.log
npm-debug.log

# dependency directory
node_modules
template/node_modules

# runtime data
tmp

#android
template/android/app/build
template/android/.gradle

#iOS
template/ios/build
template/ios/Pods
template/vendor